{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}

<br>
<br>
<section id="landingImage" class="bg-dark">
    <div class="container-fluid">
        <div class="row max-viewport align-items-center">
            <div class="col-12">
                <div class="row">
                    <img class="img-responsive bannerHome pull-right" src="{% static 'home/images/wheel.jpg' %}"></img>
                    <div class="landingText">
                        <p class="tagLine">David Goulding Valeting<br>Clean. Fast. Friendly.</p> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="About">
    <div class="container">
        <div class="row AboutRow text-center">
            <h1>About Us</h1>
            <p>David Gould Valeting was established in August 2008 as a mobile Valeting service servicing both private & public sectors. We developed a massive customer base in the early years & we still have that huge following today. We pride ourselves on our excellent customer service and extremely high standards. 
            <br>
            </p>
        </div>
    </div>
</section>

<hr>

 <section id="services">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 pad-bottom" data-scroll-reveal="enter from the bottom after 0.2s">
                    <h2 class="serviceTitle"><strong>OUR SERVICES</strong></h2>
                    <p class="serviceIntro"> Here at DGValeting we care about quality. We guarantee to only use tried and tested products on your vehicle. </p>
                    <br>
                    <a href="#" class="btn btn-default" role="button">View All Services</a>

                </div>
            </div>
            <br>
            <br>
            
            <div class="row text-center serviceRow">
                
                <div class="col-sm-2 col-lg-2 col-xs-12">
                    <div class="card homeServiceCard">
                    <div class="serviceHeader">
                    <h4>Exterior Wash <br><br> €7 - €50 </h4>
                    </div>
                    <br>
                    <p> <i class="fa fa-check"></i> Pre-wash </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> PH Neutral Shampoo </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Foamed using AS high foam</p>Meguires clay bar
                    <hr>
                    <p> <i class="fa fa-check"></i> Meguiars clay bar</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Dried soft microfiber towel</p>
                    <hr>
                     <a href="{% url 'contact' %}" class="btn btn-default  readButton" role="button"> Enquire </a>
                    <br>
                    </div>
                </div>
                
                <div class="col-sm-2 col-lg-2 col-xs-12">
                    <div class="card homeServiceCard">
                    <div class="serviceHeader">
                    <h4>Mini-Valet <br><br> €20 </h4>
                    </div>
                    <br>
                    <p> <i class="fa fa-check"></i> Wash & Chamois(dry) </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Exterior glass cleaned </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Tyre shine </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Vacuumed (including boot)</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Dash shined </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Interior glasss cleaned  </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Door shuts cleaned </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> D.G.V Cherry Air applied </p>
                    <hr>
                    <a href="{% url 'contact' %}" class="btn btn-default  readButton" role="button"> Enquire </a>
                    <br>
                    </div>
                </div>
                
                 <div class="col-sm-2 col-lg-2 col-xs-12">
                    <div class="card homeServiceCard">
                    <div class="serviceHeader">
                    <h4>Exterior Valet <br><br> €45 </h4>
                    </div>
                    <br>
                    <p> <i class="fa fa-check"></i> Wash & Chamois(dry)</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> PH Neutral shampoo  </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> De-Tar </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Clay bar </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Hand polished </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Tyres shines </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> All blacks & moldings restored  </p>
                     <hr>
                    <p> <i class="fa fa-check"></i> Exterior glass cleaned  </p>
                     <hr>
                    <p> <i class="fa fa-check"></i> Door shuts cleaned </p>
                    <hr>
                    
                     <a href="{% url 'contact' %}" class="btn btn-default  readButton" role="button"> Enquire </a>
                    <br>
                    </div>
                </div>
                
                 <div class="col-sm-2 col-lg-2 col-xs-12">
                    <div class="card homeServiceCard">
                    <div class="serviceHeader">
                    <h4>Interior Valet <br><br> €50 </h4>
                    </div>
                    <br>
                    <p> <i class="fa fa-check"></i> Complete vacuum  </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Head liner shampood  </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Seats shampood </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Carpets & floor mats shampood </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Door panels shampood  </p>
                     <hr>
                    <p> <i class="fa fa-check"></i> Boot shampood   </p>
                     <hr>
                    <p> <i class="fa fa-check"></i> Interior glass cleaned   </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Dash & interior trim cleaned & shined  </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> D.G.V Cherry Air applied  </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Complimentary exterior wash  </p>
                   <hr>
                     <a href="{% url 'contact' %}" class="btn btn-default  readButton" role="button"> Enquire </a>
                    <br>
                    </div>
                </div>
                
                
                <div class="col-sm-2 col-lg-2 col-xs-12">
                    <div class="card homeServiceCard">
                    <div class="serviceHeader">
                    <h4>DGV Machine Polish Wax & Buffer <br><br> €100 </h4>
                    </div>
                    <br>
                    <p> <i class="fa fa-check"></i> External hand wash, non de-greasing shampoo</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Removal of heavy soiling / contaminants </p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Door shuts & sills cleared & de-greased</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Full de-tar of vehicle</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Alloy wheel decontamination</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Chamois dry</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Windows cleaned & non smear polish applied</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Rubber protectant & Maguire’s hi gloss tyre gel applied to all tyre's</p>
                    <hr>
                    <p> <i class="fa fa-check"></i> Paintwork polished with machine polisher</p>
                    <hr>
                     <a href="{% url 'contact' %}" class="btn btn-default  readButton" role="button"> Enquire </a>
                    <br>
                    </div>
                </div>
                
                 
                
             </div>
             
             
            </div>
     
    </section>
   
    
    
    <section id="clients">
         <div class="container-fluid">
            <div class="row text-center">
                <h1>Our clients</h1>
                <p>Over the last ten years we've established a loyal customer base. Here are just some of our commercial customers.</p>
                
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <div class="card logoCard">
                        <img class="img-responsive logoImage"  src="{% static 'home/images/post.jpg' %}"></img>
                    </div>
                </div>
                
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <div class="card logoCard">
                        <img class="img-responsive logoImage"  src="{% static 'home/images/xtra.jpg' %}"></img>
                    </div>
                </div>
                
                
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <div class="card logoCard">
                        <img class="img-responsive logoImage"  src="{% static 'home/images/northgate.jpg' %}"></img>
                    </div>
                </div>
                
                </div>
                <br>
                
                <div class="row text-center">
                  <div class="col-sm-4 col-lg-4 col-xs-12">
                    <div class="card logoCard">
                        <img class="img-responsive logoImage"   src="{% static 'home/images/HSE-Logo.jpg' %}"></img>
                    </div>
                </div>
                
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <div class="card logoCard">
                        <img class="img-responsive logoImage"  src="{% static 'home/images/garda.jpg' %}"></img>
                    </div>
                </div>
                
                <div class="col-sm-4 col-lg-4 col-xs-12">
                    <div class="card logoCard">
                        <img class="img-responsive logoImage" src="{% static 'home/images/TeagascLogo.jpg' %}"></img>
                    </div>
                </div>
                
                
                </div>
                </div>
        
    </section>
    
    <hr>

 
    <hr>
    
    <div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row carouselrow">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                           <p class="carousel1">"After one valet with David and Co my cab is literally gleaming and the upholstery is just like new.
Great service and value. Keep going!" <br> Niamh</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p class="carousel1">"My car is like brand new. Great work and fantastic price. Plus I didn't even have to go anywhere was all done at work." <br>Aoife.</p>
                        </div>
                    </div>
                </div>
                
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <p class="carousel1">""Absolutely fantastic service and would highly recommend.... Car was like brand new." <br>Lee</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

</section>

{% endblock content %}