{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-lg-6 col-xs-12 col-sm-offset-3 col-lg-offset-3">
        <br>
        <br>
        <br>
        <br>
    <form role="form" method="post">
        <legend>Login</legend>
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <p><a href={% url 'password_reset' %}>Forgot my password</a></p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    </div>
    </div>
{% endblock %}