{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-sm-6 col-lg-6 col-xs-12 col-sm-offset-3 col-lg-offset-3">
    <form role="form" method="post">
        <br>
        <legend>Create a new account</legend>
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create account</button>
        </div>
    </form>
    </div>
    </div>
{% endblock %}