{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row AboutRow text-center">
        <h1>Gift Vouchers</h1>
        <p>Looking to reward the employee of the month or surprise a special someone with a thoughtful and practical present? You've come to the right place. Choose a voucher value that's right for you and get in touch to book your appointment. 
        <br>
        Check out our services page if you'd like to check out our price list and options. 
        <br>
        <br>
         <a href="{% url 'services' %}" class="btn btn-default addButton" role="button">View All Services</a>
        </p>
    </div>
</div>

<br>



    {% for service in services %}
   
    <div class="container">
        <div class="row cardRow">
        <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
            <div class="card voucherCard">
                     <img class="card-img-top" src="{{ MEDIA_URL }}{{ service.image }}" width="100%"; height="300px"/>
                    <h4 class="voucherCardTitle">{{ service.name }}</h4>
                      <p class="voucherAddress">Wilkinstown, Navan, Co. Meath</p>
                     <p class="voucherContact"> Ph: 046 902 8465 | 086 065 0061 | www.dgvalet.ie</p>
                    <p class="voucherCardPrice"><strong>Price</strong> €{{ service.price }}</p>
                    <p class="voucherSmallprint">*Vouchers do not expire*</p>
                   
                    <div class="action text-center">
							<form action = "{% url 'add_to_cart' %}" method='post'>
							{% csrf_token %}
							<input type="hidden" id="id" name="id" value="{{service.id}}"/>
              				<input type="hidden" id="quantity" name="quantity" value="1"/>
							<input class="btn btn-default add-to-cart VoucherButton" type="submit" value="Add to Cart"/>
							</form>
							</div>
                      
                      </div>
                      </div>
                      {% endfor %}
                    
                    
     

{% endblock content %}