{% extends "base.html" %} {% load staticfiles %} {% load bootstrap_tags %} {% block content %}
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row AboutRow text-center">
        <h1>Gift Vouchers</h1>
        <p>Looking to reward the employee of the month or surprise a special someone with a thoughtful and practical present? You've come to the right place. Choose a voucher value that's right for you and get in touch to book your appointment. </p>
        
    </div>
</div>

<br>

    {% for service in services %}
    <div class="container-fluid">
        <div class="row cardRow">
        <div class="col-lg-3 col-sm-4 col-xs-10 text-left">
            <div class="card voucherCard">
                    <img class="img-responsive" src="{% static 'home/images/voucher1.jpeg' %}">
                   
                    <h4 class="voucherCardTitle">{{ service.name }}</h4>
                    <p class="voucherCardPrice"><strong>Price</strong> €{{ service.price }}</p>
                    <div class="action text-center">
							<form action = "{% url 'add_to_cart' %}" method='post'>
							{% csrf_token %}
							<input type="hidden" id="id" name="id" value="{{service.id}}"/>
              				<input type="hidden" id="quantity" name="quantity" value="1"/>
							<input class="btn btn-default add-to-cart Voucher" type="submit" value="Add to Cart"/>
							</form>
							</div>
                      <br>
                      </div>
                    
                    
     
    {% endfor %}
{% endblock content %}