body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

p { 
    font-size: 1.8rem;
    line-height: 2.0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}
.navbar-trans {
  background: white; }

.nav{
    list-style:none;
    text-align:center;
    font-size: 1.5rem;
    margin-top: 15px;
}

.navContainer {
    padding-bottom: 5px;
}

.nav.navbar-nav.navbar-right li a {
    color: #EB8732;
}

.nav li{
    display:inline;
    color: #5EC5C4;
}
.nav a{
    display:inline-block;
}

.navLogo {
    display: inline;
    margin-top: 10px;
    margin-left: 10px;
}

.navbar-toggle {
    margin-top: 30px;
    margin-right: 30px;
}


#landingImage {
position: relative;
text-align: left;
margin-top: 0px;

}



.tagLine {
    position: absolute;
    margin: auto;
    color: white;
	font-size: 5rem;
	text-align: left;
	margin-left: 50px;
    top: 20%; left: 0px; bottom: 0; right: 0;
    font-weight: 800;
}


.serviceTitle {
    color: white;
}

.homeServiceCard {
    border: 1px solid gray;
    background-color: white;
    opacity: 0.8;
    margin-bottom: 20px;
    
}

.fa-check {
    color: #0F2281;
}

.serviceHeader {
    background-color: #E48D3D;
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 0px;
}

.logoCard {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.logoImage {
    margin: auto;
}

.AboutRow {
    margin: 20px 20px 20px 20px;
}

#text-carousel {
    background-image: url(./images/interior.jpg);
}

.carouselrow { 
    background-color: black;
    opacity: 0.6;
}

.carousel1 {
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.testimonialCard {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    background-color: white;
    opacity: 0.7;
    padding: 20px 20px 20px 20px;
    
}

.readButton {
    background-color: #122386;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    /*margin-bottom: 20px;*/
    margin: auto;
}

.addButton, .add-to-cart {
    background-color: #EB8732;
    color: white;
}

.serviceRow {
   margin-left: 140px;
    text-align: center;
   
}

#services {
    background-image: url(./images/clean.jpg);
    padding-bottom: 30px;
}

.serviceIntro {
    color: white;
}

.alert {
    margin-top: 200px;
    background: linear-gradient(to right, black, #eef2f3, black); 
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

.mapCard {
    padding: 20px 20px 20px 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.mapParagraph {
    line-height: 1.2;
    font-size: 1.2rem;
}

#contact {
    margin-left: 20px;
}
.formSection {
    border: 1px solid gray;
}

.myForm {
    padding-bottom: 20px;
  
}

#contact: {
    padding: 20px 20px 20px 20px;
}

.cartWelcome {
    margin-top: 100px;
}

.banner {
position: relative;
text-align: left;
margin-top: 0px;
-webkit-filter: brightness(60%);
}

.bannerHome {
 -webkit-filter: brightness(60%);   
}

.contactText{
    position: absolute;
    margin: auto;
    text-align: center;
    top: 40%; left: 0px; bottom: 0; right: 0;
	color: white;
	font-size: 5rem;
}

.voucherCard {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    -webkit-box-shadow: 1px 0px 19px -4px rgba(228,141,61,1);
    
}

/*Services pages*/

.servicePageCard  {
    -webkit-box-shadow: 1px 0px 19px -4px rgba(228,141,61,1);
    padding-bottom: 20px;
    margin: 20px 20px 20px 20px;
    }
   

.card-title {
    background-color: #E48D3D;
    color: white;
    text-align: center;
    padding-top: 10px;
   
}

.card-text {
    color: #0F2281;
    margin: 20px;
    font-size: 1.5rem;
}

.serviceSectionHeading, .card-title{
    text-align: center;
    padding-bottom: 20px;
}

.serviceSectionHeading {
    color: #0F2281;
    
}
.serviceOffer {
     text-align: center;
     color: #E48D3D;
}

.specialService {
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .contactText {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 768px) {
    .serviceRow {
        margin: auto;
    }

}

@media only screen and (max-width: 500px) {
    .tagLine {
        font-size: 2rem;
    }

}